<app-navbar></app-navbar>
<div class="ui grid container segment">
  <div class="ui stackable four column grid centered mt-20">
    <div class="column">
      <div class="ui fluid card">
        <div class="image">
          <img src="../../../assets/images/6Weeks.jpg" />
        </div>
        <div class="content">
          <a class="header">6 Week Plan</a>
          <div class="meta">
            <span class="date">Joined in 2013</span>
          </div>
          <div class="description">
            Kristy is an art director living in New York.
          </div>
          <div class="mt-20">
            <div class="fluid ui animated fade primary button" tabindex="0">
              <div class="visible content">Purchase Now</div>
              <div class="hidden content">
                €15.00
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" column">
      <div class="ui fluid card">
        <div class="image">
          <img src="../../../assets/images/8Weeks.jpg" />
        </div>
        <div class="content">
          <a class="header">8 Week Plan</a>
          <div class="meta">
            <span class="date">Joined in 2013</span>
          </div>
          <div class="description">
            Kristy is an art director living in New York.
          </div>
          <div class="mt-20">
            <div class="fluid ui animated fade primary button" tabindex="0">
              <div class="visible content">Purchase Now</div>
              <div class="hidden content">
                €25.00
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui fluid card">
        <div class="image">
          <img src="../../../assets/images/12Weeks.jpg" />
        </div>
        <div class="content">
          <a class="header">12 Week Plan</a>
          <div class="meta">
            <span class="date">Joined in 2013</span>
          </div>
          <div class="description">
            Kristy is an art director living in New York.
          </div>
          <div class="mt-20">
            <div class="fluid ui animated fade primary button" tabindex="0">
              <div class="visible content">Purchase Now</div>
              <div class="hidden content">
                €40.00
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
