<app-navbar></app-navbar>
<div class="ui grid container segment">
  <div class="ui container center aligned">
    <div class="ui stackable three column grid mt-20">
      <div class="column">
        <div class="ui fluid centered card">
          <div class="image">
            <img src="../../../assets/images/6Weeks.jpg" />
          </div>
          <div class="content">
            <a class="header">6 Week Plan</a>
            <div class="meta">
              <span>€15</span>
            </div>
            <div class="description">
              6 Week llan to get you started toward your goals and help achieve
              your dream physique.
            </div>
            <div class="mt-20">
              <div class="fluid ui animated fade primary button" tabindex="0">
                <div class="visible content">Purchase Now</div>
                <div class="hidden content">
                  €15.00
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" column">
        <div class="ui fluid card">
          <div class="image">
            <img src="../../../assets/images/8Weeks.jpg" />
          </div>
          <div class="content">
            <a class="header">8 Week Plan</a>
            <div class="meta">
              <span>€25</span>
            </div>
            <div class="description">
              8 Week plan made to help you get towards that body you want to
              achieve.
            </div>
            <div class="mt-20">
              <div class="fluid ui animated fade primary button" tabindex="0">
                <div class="visible content">Purchase Now</div>
                <div class="hidden content">
                  €25.00
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="../../../assets/images/12Weeks.jpg" />
          </div>
          <div class="content">
            <a class="header">12 Week Plan</a>
            <div class="meta">
              <span>€40</span>
            </div>
            <div class="description">
              12 Week plan designed to get the best possible physique within a
              12 week period.
            </div>
            <div class="mt-20">
              <div class="fluid ui animated fade primary button" tabindex="0">
                <div class="visible content">Purchase Now</div>
                <div class="hidden content">
                  €40.00
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
