<app-navbar></app-navbar>
<div class="ui container">
  <div class="ui raised segment mt-20">
    <form
      id="contact-form"
      name="contact"
      method="POST"
      enctype="application/x-www-form-urlencoded"
      netlify
    >
      <div class="field">
        <input type="hidden" name="form-name" value="contact" />
      </div>
      <div class="field">
        <label>First Name</label>
        <input type="text" name="name" placeholder="First Name" />
      </div>
      <div class="field">
        <label>Email</label>
        <input type="email" name="email" placeholder="joe123@gmail.com" />
      </div>
      <div class="field">
        <label>Message:</label>
        <input
          type="text"
          name="message"
          placeholder="PLease enter your message"
        />
      </div>
      <div class="field">
        <button class="ui button" type="submit">
          Send Message
        </button>
      </div>
    </form>
  </div>
</div>
